SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=hostelatoma_db
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306
DB_CONN_MAX_AGE=60

TIME_ZONE=Africa/Accra

CORS_ALLOW_ALL_ORIGINS=False
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
CSRF_TRUSTED_ORIGINS=http://localhost:8000

JWT_ACCESS_TOKEN_LIFETIME_MINUTES=60
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7

CACHE_BACKEND=django.core.cache.backends.locmem.LocMemCache
CACHE_LOCATION=

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=no-reply@smarthostelatoma.com

MEDIA_URL=/media/
MEDIA_ROOT=media
